<% provide(:title, "Log in") %>

<%= render 'layouts/flash_messages' %>

<h1>オートコーディネータ</h1>

<%= image_tag "sites/kid_kigae_boy.png", class: "image-login", alt: "着替え" %>

<p>その日に着る服を自動で選んでくれます。</p>
<p>※このアプリはRuby on railsの学習のために作られています</p>

<%= form_with(scope: :session, 
              url: create_login_path, 
              local: true, 
              html: { class: "form-container" }) do |form| %>
  <ul>
    <li>
  <%= form.label :email, "メールアドレス" %>
  <%= form.email_field :email %>
    </li>
    <li>
  <%= form.label :password, "パスワード" %>
  <%= form.password_field :password %>
    </li>
    <li>
  <%= form.submit "ログイン" %>
    </li>
  </ul>
<% end %>

<p></p>
<%= link_to "ユーザー登録", signup_path, class: "link" %>
