<% provide(:title, "Sign up") %>
<h1>ユーザー登録</h1>

<% @user.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>

<%= form_with(model: @user, local: true) do |form| %>

  <div class="field">
    <%= form.label :"名前" %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :user_email %>
  </div>

  <div class="password">
    <%= form.label :"パスワード" %>
    <%= form.password_field :password, id: :user_password %>
  </div>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>

