<% provide(:title, "Sign up") %>
<%= render 'layouts/flash_messages' %>

<h1>新規ユーザー登録</h1>

<div>
  <%= image_tag "sites/book_watoji.png", class: "image-signup", alt: "着替え" %>
</div>

<%= form_with(model: @user, 
              local: true,
              html: { class: "form-container" }) do |form| %>

  <ul>
    <li>
      <%= form.label :name, "ユーザー名" %>
      <%= form.text_field :name %>
    </li>
    <li>
      <%= form.label :email, "メールアドレス" %>
      <%= form.email_field :email %>
    </li>
    <li>
      <%= form.label :password, "パスワード" %>
      <%= form.password_field :password %>
    </li>
    <li>
      <%= form.submit "登録" %>
    </li>
  </ul>
<% end %>

<p>ユーザー名は16文字以下、パスワードは8文字以上16文字以下（未実装）</p>

<div>
  <%= back_link_to(login_path) %>
</div>
