<% provide(:title, "profile") %>
<h1>ユーザープロフィール</h1>

<div>
  <%= image_tag("sites/document_data_bunseki.png", class:'image-profile')%>
</div>

<div class="user-profile-container">
  <ul>
    <li>
      <strong>ユーザー名：</strong><%= @user.name %>
    </li>
    <li>
      <strong>メールアドレス：</strong><%= @user.email %>
    </li>
    <li>
      <strong>パスワード：</strong>********
    </li>
  </ul>
</div>

<div class="edit-link">
  <%= link_to "プロフィールを編集", edit_user_path %>
</div>

<div>
<%= link_to image_tag('sites/navigationj_back', class: 'image-back-link'), root_path %>
</div>
