<h1>クローゼット</h1>
<p>登録した服を管理するページです</p>
<p>服の画像をクリックすると詳細画面を表示できます。(予定)</p>

<%= form_with url: clothes_path, method: :get do %>
  <% ClothType.all.each do |type| %>
    <%= check_box_tag "types[]", type.id %>
    <%= label_tag "types_#{type.id}", type.type_name %><br>
  <% end %>

  <%= submit_tag "絞り込む" %>
<% end %>

<button type="button" id="select-all">すべて選択</button>
<button type="button" id="deselect-all">チェックを外す</button>

<% @cloths.each do |cloth| %>
  <% if cloth.image.attached? %>
    <%=link_to (image_tag cloth.image, width: "200", height: "200"), cloth_path(cloth) %>
  <% end %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('select-all').addEventListener('click', function () {
      document.querySelectorAll('input[type="checkbox"][name="types[]"]').forEach(function (checkbox) {
        checkbox.checked = true;
      });
    });

    document.getElementById('deselect-all').addEventListener('click', function () {
      document.querySelectorAll('input[type="checkbox"][name="types[]"]').forEach(function (checkbox) {
        checkbox.checked = false;
      });
    });
  });
</script>

<%= link_to "服を追加する", closet_add_path %>

<%= link_to "戻る", root_path %>
