<% provide(:title, "Closet") %>
<%= javascript_include_tag 'show_clothes' %>

<h1>クローゼット(衣服管理ページ)</h1>
<p>服を登録したり、登録した服を表示することができます。</p>
<p>服の画像をクリックすると詳細画面を表示できます。</p>

<div class="add-cloth-link">
<%= link_to "●服を追加する", closet_add_path %>
</div>

<%= form_with(url: clothes_path, 
              method: :get,
              html: { class: "checkbox-container" }) do %>
  
  <% ClothType.all.each_with_index do |type, index| %>
    <div class="checkbox-item">
      <%= check_box_tag "types[]", type.id, class: "cloth-type-checkbox" %>
      <%= label_tag "types_#{type.id}", type.name, class: "cloth-type-label" %>
    </div>
    <%= '<br>'.html_safe if (index + 1) % 4 == 0 %> <!-- 4つごとに改行 -->
  <% end %>
  <div>
    <%= submit_tag "絞り込む" %>
  </div>
<% end %>

<div>
<button type="button" id="select-all">すべて選択</button>
</div>
<div>
<button type="button" id="deselect-all">チェックを外す</button>
</div>

<% @cloths.each do |cloth| %>
  <% if cloth.image.attached? %>
    <%=link_to (image_tag cloth.image, width: "200", height: "200"), cloth_path(cloth) %>
  <% end %>
<% end %>

<div>
<%= link_to image_tag("sites/navigationj_back.png", class:"image-back-link"), root_path %>
</div>
