<% provide(:title, "Add cloth") %>
<h1>画像を登録します</h1>

<%= javascript_include_tag 'preview_cloth_image' %>

<div id="image-preview" style="display:none;">
  <img src="" class="cloth-image" style="max-width: 500px; max-height: 500px;" />
</div>

<%= render 'layouts/flash_messages' %>

<%= form_with(model: @cloth, url: create_cloth_path, local: true) do |form| %>
  <% if @cloth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cloth.errors.count, "error") %> prohibited this cloth from being saved:</h2>

      <ul>
      <% @cloth.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image, '画像アップロード' %>
    <%= form.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  </div>

  <div class="field">
    <%= form.label :cloth_type_id, '服の種類' %>
    <%= form.collection_select :cloth_type_id, ClothType.all, :id, :name, prompt: '選択してください' %>
  </div>

  <div class="field">
    <%= form.label :description, '説明' %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit '登録する' %>
  </div>
<% end %>

<%= link_to "戻る", closet_path %>
