<% provide(:title, "Add cloth") %>
<%= render 'layouts/flash_messages' %>

<h1>服の登録</h1>

<%= javascript_include_tag 'preview_cloth_image' %>

<div id="image-preview" style="display:none;">
  <img src="" class="cloth-image" style="max-width: 500px; max-height: 500px;" />
</div>

<%= form_with(model: @cloth,  
              local: true,
              html: { class: "form-container" }) do |form| %>

    <ul> 
      <li>
        <%= form.label :image, '画像アップロード', class:"cloth-add" %>
        <%= form.file_field :image, class:"image-upload", accept: 'image/jpeg,image/gif,image/png' %>
      </li>
      <li>
        <%= form.label :cloth_type_id, '服の種類', class:"cloth-add" %>
        <%= form.collection_select :cloth_type_id, ClothType.all, :id, :name,
            { prompt: '選択してください' }, { class: "select-type" } %>
      </li>
      <li>
        <%= form.label :description, '説明', class:"cloth-add" %>
        <%= form.text_area :description, class:"add-cloth-description" %>
      </li>
      <li>
        <%= form.submit '登録する' %>
      </li>
    </ul>
<% end %>

<div>
  <%= back_link_to(closet_path) %>
</div>
