<% provide(:title, "Add cloth") %>
<h1>画像を登録します</h1>
<%= debug(@cloth.inspect)%>

<div id="image-preview" style="display:none;">
  <img src="" class="cloth-image" style="max-width: 500px; max-height: 500px;" />
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // input要素を見つけます
    var input = document.querySelector('input[type=file]');
    
    // input要素が変更された時のイベントリスナーを追加します
    input.addEventListener('change', function(e) {
      // 選択されたファイルを取得します
      var file = e.target.files[0];
      var reader = new FileReader();
      
      // ファイルが読み込まれたときのイベントリスナーを追加します
      reader.onload = function(e) {
        // 読み込まれたファイルのデータをsrc属性として画像にセットします
        var img = document.querySelector('#image-preview img');
        img.src = e.target.result;
        // 画像を表示状態にします
        document.getElementById('image-preview').style.display = 'block';
      };
      
      // ファイルを読み込みます
      reader.readAsDataURL(file);
    });
  });
</script>

<% flash.each do |message_type, message| %>
<div class="flash-<%= message_type %>"><%= message %></div>
<% end %>

<%= form_with(model: @cloth, url: create_cloth_path, local: true) do |form| %>
  <% if @cloth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cloth.errors.count, "error") %> prohibited this cloth from being saved:</h2>

      <ul>
      <% @cloth.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image, '画像アップロード' %>
    <%= form.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  </div>

  <div class="field">
    <%= form.label :cloth_type_id, '服の種類' %>
    <%= form.collection_select :cloth_type_id, ClothType.all, :id, :type_name, prompt: '選択してください' %>
  </div>

  <div class="field">
    <%= form.label :description, '説明' %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit '登録する' %>
  </div>
<% end %>

<%= link_to "戻る", closet_path %>
