<% provide(:title, "Detail") %>
<h1><%= @cloth.description %></h1>

<p>最後に着た日：<%= @cloth.last_worn_on %></p>

<div>
  <%= back_link_to(closet_path) %>
</div>

<%= image_tag @cloth.image, class:"image-cloth-detail" if @cloth.image.attached? %>

<div>
  <%= general_delete_button("服を削除する", cloth_path(@cloth)) %>
</div>
