<% provide(:title, "Outfit Logs") %>
<%= render 'layouts/flash_messages' %>

<h1>過去の服装ログ</h1>

<div>
  <%= back_link_to(root_path) %>
</div>

<% @outfit_logs.each do |outfit_log| %>
  <div>
    <h3><%= outfit_log.date %></h3>
    <div class="log-clothes-container">
      <% outfit_log.clothes.each do |cloth| %>
        <div class="cloth">
          <p class="description"><%= cloth.description %></p>
          <%= image_tag cloth.image if cloth.image.attached? %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
